//
// Card
//
.card {
  margin-bottom: $card-margin-bottom;
  // padding: $card-padding;
  .card-subtitle {
    margin-bottom: $card-subtitle-bottom;
    font-weight: $font-weight-light;
    color: $text-muted;
  }
  .card-title {
    margin-bottom: $card-title-bottom;
    font-weight: $font-weight-normal;
    font-size: 18px;
  }
  .card-actions {
    a {
      cursor: pointer;
      padding: 0 5px;
    }
  }
  .card-header .card-title {
    margin-bottom: 0;
  }
  .card-body .form-body .card_img {
    margin: $card-img-margin;
    width: $card-img-quarter-dimension;
    height: $card-img-quarter-dimension;
    img {
      width: $card-img-full-dimension;
      height: $card-img-full-dimension;
      border-radius: 100px;
      border: 1px solid $gray-650;
      object-fit: cover;
      object-position: top;
      align-self: center;
    }
    input {
      position: absolute;
      top: 40px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: $card-img-quarter-dimension;
      height: $card-img-quarter-dimension;
      opacity: 0;
      overflow: auto;
      margin: 0 auto;
      cursor: pointer;
    }
  }
}

//
// Card Group
//
.card-group {
  margin-bottom: $card-margin-bottom;
  .card {
    border-right: 1px solid $border-color;
  }
}

//
// Hover Card
//
.card-hover {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  &:hover {
    webkit-transform: translateY(-4px) scale(1.01);
    -moz-transform: translateY(-4px) scale(1.01);
    -ms-transform: translateY(-4px) scale(1.01);
    -o-transform: translateY(-4px) scale(1.01);
    transform: translateY(-4px) scale(1.01);
    -webkit-box-shadow: 0 14px 24px rgba(62, 57, 107, 0.1);
    box-shadow: 0 14px 24px rgba(62, 57, 107, 0.1);
  }
}

//
// Draggable Cards
//
.draggable-cards .card-header {
  cursor: move;
}
.card-moved .card {
  background: $info;
  color: $white;
}
@media (max-width: 1024px) {
  .card {
    padding: $card-padding-mobile;
  }
}
