.agenda_path ol {
    background: var(--secund-color) !important;
}
.agenda_path ol li a {
    color: var(--primary-color) !important;
}
.head_calendar h1 {
    font-size: 1.5em;
    font-family: 'Quicksand';
    color: var(--primary-color);
}
.head_calendar span {
    font-size: 1em;
    font-family: 'Roboto';
    color: var(--text-dark);
}
.fc-toolbar-title {
    height: 30px;
    font-size: 1em !important;
    font-family: 'Quicksand' !important;
    color: var(--primary-color) !important;
    text-transform: capitalize;
}
.fc-prev-button {
    background-color:  var(--primary-color) !important;
    border-color:  var(--primary-color) !important;
}
.fc-next-button {
    background-color:  var(--primary-color) !important;
    border-color:  var(--primary-color) !important;
}
.fc-today-button {
    background-color:  var(--primary-color) !important;
    border-color:  var(--primary-color) !important;
}
.fc-dayGridMonth-button {
    background-color:  var(--primary-color) !important;
    border-color:  var(--primary-color) !important;
}
.fc-timeGridDay-button {
    background-color:  var(--primary-color) !important;
    border-color:  var(--primary-color) !important;  
}



.fc .fc-toolbar {
    align-items: flex-end;
}
.fc-today-button {
    width: 100px;
}
.fc-toolbar-chunk {
    display: flex;
    flex-direction: column;
}
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-top: .5em;
    margin-left: 0;
}
@media(min-width: 768px) {
    .fc-toolbar-chunk {
        flex-direction: row;
        align-items: center;
    }
    .fc-toolbar-title {
        height: 20px;
        font-size: 1.3em !important;
    }
    .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
        margin-top: 0;
        margin-left: 1em;
    }
    .calendario {
        width: 705px;
    }
}
@media (min-width: 1360px) {
    .calendario {
        width: 900px;
    }
}
