// Container, content, card, section
.main_target_form {
    background: var(--third-color);
    border: 1px solid var(--first-color);
    padding: 1.3em .5em;
    border-radius: 5px;
    margin: 1em 0;
}
.content_login {
    background: var(--third-color);
    border: 1px solid var(--first-color);
    border-radius: 5px;
    margin-top: 1em;
    padding: 2em 1em;
}
.content_input_radio {
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: .6em;
    position: relative;
}
.row_input_radio {
    border-radius: 0 0 5px 5px;
    border-right: 1px solid var(--gray-two);
    border-bottom: 1px solid var(--gray-two);
    border-left: 1px solid var(--gray-two);
    margin: 0;
    padding: 0 0 0.3em 0.3em;
}
.form_row { // Fila principal del formulario
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
// Título, subtitulo, textos
.title_section_form {
    font-size: 1em;
    font-family: 'Quicksand';
    color: var(--white);
    background: var(--gray-two);
    border-radius: 3px;
    margin-bottom: 1em;
    padding: .3em;
}
// Imagen, logo, icono
.imgUser_container_form {
    height: 180px;
    padding: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img_user_form {
    width: 150px;
    height: 150px;
    border: 1px solid var(--gray-two);
    border-radius: 106px;
    background-image: url('../../public/img/img-temp/user-avatar.png');
    background-repeat: no-repeat;
    background-size: contain;
}
// Registros, data, información
.data_row_form {    
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: .5em;
}
.data_group_form {
    padding: 0;
    margin-bottom: 1em;
}
// labels
.label_imgUser_form {
    margin: 0;
    font-family: 'Roboto';
    text-align: center;
    width: 178px;
    align-self: flex-end;
}
.label_input_radio {
    width: 100%;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid var(--gray-two);
    border-right: 1px solid var(--gray-two);
    border-left: 1px solid var(--gray-two);
    margin: 0;
    padding: 0.3em 0 0.5em 0.3em;
}
// Input's
.input_imgUser_form {
    width: 150px;
    height: 180px;
    opacity: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.input_dataGroup_form {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75em + 2px);
    padding: 0.375em 0.75em;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--gray);
    background-clip: padding-box;
    border-radius: 5px;
    //transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input_dataGroup_form:focus {   // Input seleccionado o clickeado
    outline: 0;
    border-color: var(--first-color);
    box-shadow: var(--secund-color);
}
.input_especial:focus {   // Input seleccionado o clickeado
    outline: 0;
    border-color: var(--first-color);
    box-shadow: var(--secund-color);
}
.input_disabled_dataGroup_form {   // Input disabled
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--gray);
    background-color: var(--third-color);
    background-clip: padding-box;
    border: 1px solid var(--gray-two);
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
// Input multi select
.select_dataGroup_form {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--gray);
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid var(--gray-two);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
// Input multi select personalizado
.select2-container .select2-search--inline .select2-search__field {
    height: 20px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid var(--first-color) 1px !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--first-color) !important;
}
.select2-container--default .select2-results__option--selected {
    background-color: var(--secund-color) !important;
}
.select2-container--bootstrap4.select2-container--focus .select2-selection {
    outline: 0;
    border-color: var(--first-color);
    box-shadow: var(--secund-color);
}
// input Select personalizado codigo comentareado en la sección additional information html user-form
/*.input_choose_form {
    width: 100%;
    height: calc(1.1em + 0.75rem + 2px);
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--gray-two);
    border-radius: 0.25em;
}
.file-select {
    position: relative;
    display: inline-block;
}
.file-select::before {
    width: 152px;
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Choose file'; // Texto por defecto para el botón select
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}*/
// Text área
.textArea_form {
    width: 100%;
    height: 175px;
    resize: none;
    border: 1px solid var(--gray-two);
    border-radius: 5px;
    padding: .5em;
    margin-bottom: 0;
}
.textArea_form:focus{   // Propiedades del text area seleccionado o clickeado
    border: 1.5px solid var(--first-color) !important;
    box-shadow: var(--gray-two);
    outline: none;
    padding: .5em;
}
// Text area y scroll personalizado
.textArea_form::-webkit-scrollbar {
    -webkit-appearance: none;
}
.textArea_form::-webkit-scrollbar:vertical {
    width:10px;
}
.textArea_form::-webkit-scrollbar-button:increment,.textArea_form::-webkit-scrollbar-button {
    display: none;
}
.textArea_form::-webkit-scrollbar:horizontal {
    height: 10px;
}
.textArea_form::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
.textArea_form::-webkit-scrollbar-track {
    border-radius: 10px;
}
// Editor de texto modulo CONSENTIMIENTO
main .ck.ck-content {
    padding: 0 1em;
}
// Buttons
.container_button {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.button_primary {
    display: flex;
    background: var(--first-color);
    border: 1px solid var(--gray-two);
    border-radius: 5px;
    box-shadow: 0.6px 1px 3px 0px rgb(0 0 0 / 25%);
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.2;
    color: var(--white);
    padding: .5em .4em;
    margin-left: 1em;
    //transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button_secund {
    display: flex;
    background: var(--gray);
    border: 1px solid var(--gray-two);
    border-radius: 5px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.2;
    color: var(--white);
    padding: .5em .4em;
    margin-left: 1em;
    //transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button_third {
    display: flex;
    background: var(--white);
    border: 1px solid var(--red);
    border-radius: 5px;
    box-shadow: 0.6px 1px 3px 0px rgb(0 0 0 / 25%);
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.2;
    color: var(--red);
    padding: .5em .4em;
    margin-left: 1em;
    //transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button_primary:hover {   // Action hover
    background: var(--secund-color);
    color: var(--first-color);
    text-decoration: none;
}
.button_secund:hover {   // Action hover
    background: var(--gray-two);
}
.button_third:hover {   // Action hover
    background: var(--red);
    color: var(--white);
    text-decoration: none;
}
.button_primary:focus {   // Action focus
    background: var(--first-color);
    color: var(--secund-color);
    text-decoration: none;
}
.button_third:focus {   // Action focus
    background: var(--red);
    color: var(--white);
    text-decoration: none;
}
// Check button radios
.li_input_form {                //////////////codigo a eliminar
    display: flex;
    align-items: center;
    padding: .4em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: 1px solid var(--gray-two);
}
.inputRadio_form {                //////////////codigo a eliminar
    margin-right: 0.3em;
}
// Etiqueta "a"
.underline {
    text-decoration: underline;
    color: var(--first-color);
}
.no_underline {
    text-decoration: none;
    color: var(--first-color);
}
.badge-pill {
    padding: 0.5em;
}
@media(min-width: 768px) {
    // Imagen e input add file del paciente
    .imgUser_container_form {
        height: 150px;
    }
    .img_user_form {
        width: 123px;
        height: 123px;
    }
    .input_imgUser_form {
        width: 123px;
        height: 150px;
    }
    .label_imgUser_form {
        width: 123px;
    }
    // Grupo de elementos de los datos
    .data_group_form {
        padding: 0 .5em;
    }
    .textArea_form {
        height: 75px;
    }
}
@media (min-width: 1920px) {
    .row_input_radio {
        padding: 0 0 .5em 1em;
    }
    // Imagen e input add file del paciente
    .img_user_form {
        margin: 0 2em;
    }
    .label_input_radio {
        padding: .5em 0 0.5em 1em;
    }
}