// Tarjeta principal
.main_target_form {
    border: 2px solid var(--border-color);
    padding: 1.3em .5em;
    border-radius: 5px;
    margin-top: 1em;
}
// Fila principal del formulario
.form_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
// Título de sección
.title_section_form {
    font-size: 1em;
    font-family: 'Quicksand';
    color: var(--color-light);
    background: var(--primary-color);
    border-radius: 3px;
    margin-bottom: 1em;
    padding: .3em;
}
// Imagen e input add file del paciente
.imgUser_container_form {
    height: 180px;
    padding: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img_user_form {
    width: 150px;
    height: 150px;
    border: 1px solid var(--border-color);
    border-radius: 106px;
    background-image: url('../../public/img/img-temp/user-avatar.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.input_imgUser_form {
    width: 150px;
    height: 180px;
    opacity: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.label_imgUser_form {
    margin: 0;
    font-family: 'Roboto';
    text-align: center;
    width: 178px;
    align-self: flex-end;
}
// Grupo de elementos de los datos
.data_row_form {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: .5em;
}
.data_group_form {
    padding: 0;
    margin-bottom: .5em;
}
// Input's
.input_dataGroup_form {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-gray);
    background-color: var(--color-light);
    background-clip: padding-box;
    border: 1px solid var(--border-color-input);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input_dataGroup_form:focus {   // Propiedades para el input seleccionado o clickeado
    color: var(--text-gray);
    background-color: var(--color-light);
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: var(--boxshadow-color-input);
}
.input_disabled_dataGroup_form {   // Propiedades del input disabled
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-gray);
    background-color: var(--fifth-color);
    background-clip: padding-box;
    border: 1px solid var(--border-color-input);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
// Input multi select
.select_dataGroup_form {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-gray);
    background-color: var(--color-light);
    background-clip: padding-box;
    border: 1px solid var(--border-color-input);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
// Input multi select personalizado
.select2-container .select2-search--inline .select2-search__field {
    height: 20px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid var(--primary-color) 1px !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--primary-color) !important;
}
.select2-container--default .select2-results__option--selected {
    background-color: var(--secund-color) !important;
}
// input Select personalizado codigo comentareado en la sección additional information html user-form
/*.input_choose_form {
    width: 100%;
    height: calc(1.1em + 0.75rem + 2px);
    color: var(--text-dark);
    background-color: var(--color-light);
    border: 1px solid var(--border-color-input);
    border-radius: 0.25em;
}
.file-select {
    position: relative;
    display: inline-block;
}
.file-select::before {
    width: 152px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Choose file'; // Texto por defecto para el botón select
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}*/
// Text área
.textArea_form {
    width: 100%;
    height: 175px;
    resize: none;
    border: 1px solid var(--border-color-input);
    border-radius: 5px;
    padding: .5em;
    margin-bottom: 0;
}
.textArea_form:focus{   // Propiedades del text area seleccionado o clickeado
    border: 1.5px solid var(--primary-color) !important;
    box-shadow: var(--boxshadow-color-input);
    outline: none;
    padding: .5em;
}
// Text area personalizado del scroll y el text area
.textArea_form::-webkit-scrollbar {
    -webkit-appearance: none;
}
.textArea_form::-webkit-scrollbar:vertical {
    width:10px;
}
.textArea_form::-webkit-scrollbar-button:increment,.textArea_form::-webkit-scrollbar-button {
    display: none;
}
.textArea_form::-webkit-scrollbar:horizontal {
    height: 10px;
}
.textArea_form::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
.textArea_form::-webkit-scrollbar-track {
    border-radius: 10px;
}
// Check button radios
.li_input_form {
    display: flex;
    align-items: center;
    padding: 0;
}
.inputRadio_form {
    margin-right: 0.3em;
}
// Botones inferiores
.button_container_form {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.button_help_form {
    font-size: 1.5em;
    font-family: "Roboto";
    color: #ffffff;
    background: #00aec7;
    width: 40px;
    border: #cdf5ff;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1em;
}
.button_cancel_form {
    width: auto;
    border: 1px solid var(--tertiary-color);
    border-radius: 3px;
    background: transparent;
    color: var(--tertiary-color);
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .375em .5em;
    margin-left: 1em;
}
.button_save_form {
    width: auto;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background: var(--primary-color);
    color: var(--text-light);
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .375em .5em;
    margin-left: 1em;
}
.button_save_form:hover {   // Propiedades al pasar el cursor del mouse por el botón
    color: var(--secund-color);
}
@media(min-width: 768px) {
    // Imagen e input add file del paciente
    .imgUser_container_form {
        height: 150px;
    }
    .img_user_form {
        width: 123px;
        height: 123px;
    }
    .input_imgUser_form {
        width: 123px;
        height: 150px;
    }
    .label_imgUser_form {
        width: 123px;
    }
    // Grupo de elementos de los datos
    .data_group_form {
        padding: 0 .5em;
    }
    .textArea_form {
        height: 75px;
    }
}
@media (min-width: 1920px) {
    // Imagen e input add file del paciente
    .img_user_form {
        margin: 0 2em;
    }
}
