.card_option .card a {
    text-decoration: none;
}
.card_option .card-body {
    padding: .5em;
}
.card_option {
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}
.card_icon_home {
    display: flex; 
    justify-content: center;
}
.card_icon_home i {
    color: var(--first-color);
    font-size: 2.5em;
    height: 100%; 
}
.card_name_home {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 45px; 
}
.card_name_home span {
    font-family: 'Quicksand';
    text-align: center;
    line-height: 1;
    color: var(--first-color);
}
.row_card_logos .card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row_card_logos .card .card-body img {
    width: 100%;
}
@media(min-width: 768px) {
    .card_option .card-body {
        padding: 2em .5em;
    }
    .card_icon_home i {
        font-size: 3em;
    }
    .card_name_home span {
        font-size: 1.2em;
    }
}
@media(min-width: 1024px) {
    .card_option {
        justify-content: flex-start;
    }
    .row_card_logos {
        justify-content: flex-end;
    }
    .row_card_logos .card .card-body img {
        height: 150px;
    }
}
@media(min-width: 1920px) {
    .card_option .card-body {
        padding: 2.5em;
    }
}