// Título principal de la lista de paciente
.agenda_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.title_list {
    font-size: 1.5em;
    color: var(--green);
    font-family: 'Quicksand';
}
// Tabla de lista de pacientes
table.table_agenda {
    border-spacing: 1px !important;
}
.table_agenda thead {
    background: var(--gray-soft);
    color: var(--white);
}
// Imagen del paciente
// Imagen del usuario
.img_user_list {
    background-image: url('../../public/img/img-temp/user-avatar.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    border: none;
    border-radius: 35px;
    width: 25px;
    height: 25px;
    margin-right: .3em;
}
// Estado del usuario (Activo o Inactivo)
.status_active {
    color: var(--green);
    font-family: 'Roboto';
    font-weight: 500;
}
.status_unactive {
    color: var(--red);
    font-family: 'Roboto';
    font-weight: 500;
}
// Acción de eventos ante el usuario
.action_table {
    color: var(--green);
    text-decoration: none;
    padding-right: 1em;
}
.action_table:hover {
    color: var(--green-strong);
    text-decoration: none;
}
.page-item.active .page-link {
    z-index: 3;
    color: var(--white);
    background-color: var(--green);
    border-color: var(--green-softer);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    background: linear-gradient(to bottom, #5ac7d7 0%, var(--green-softer) 100%) !important;
    border: none !important;
    padding: .5em;
}
