.main_content {
    transition: margin-left 300ms;
    margin-left: 300px;
    background: #f1f5f9;
}
/*Función paraa cambiar dimenciones de los elementos a la hora de replegar el sidebar*/
#nav_toggle:checked~.main_content {
    margin-left: 70px;
}
main {
    margin-top: 70px;
    padding: 2rem 1.5rem;
    background: transparent;
    min-height: calc(100vh - 70px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
    
}

.card-single div:last-child span {
    font-size: 3rem;
    color: var(--primary-color);
}

.card-single div:first-child span {
    color: var(--text-grey);
}

.card-single:last-child {
    background: var(--primary-color);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
    color: #fff;
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}

.card {
    background: #fff;
}

.card-header {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background: var(--primary-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--primary-color);
}

table {
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}
.status.green {
    background: rgb(6, 192, 6);
}

.status.yellow {
    background: yellow;
}

.status.red {
    background: red;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
    color: #222;
}

.info small {
    font-weight: 600;
    color: var(--text-grey);
}

.contact span {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: var(--primary-color);
}
@media only screen and (max-width: 1200px) {
    .main_content {
        margin-left: 270px;
    }
}
@media only screen and (max-width: 1000px) {
    .main_content {
        margin-left: 0;
    }
    // Propiedades del contenido cuando el input esta acticado "checked".
    #nav_toggle:checked ~ .main_content {
        margin-left: 0;
    }
}
