* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
#nav_toggle {
    display: none;
}
// SIDEBAR DESPLEGADO "---ESCRITORIO---"

// contenedores y secciones
.containt_sidebar {
    background: var(--green-strong);
    position: fixed;
    left: 0;
    top: 15px;
    width: 300px;
    height: 100%;
    z-index: 100;
    transition: width 300ms;
}
.section_img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--white);
}
// Imagenes e iconos
.mini_logo { // Mini logo oculto.
    display: none;
}
.img_sidebar {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    object-fit: cover;
}
// Textos
.text_sidebar {
    font-size: 1em;
    font-family: 'Quicksand';
    color: var(--white);
    font-weight: 400;
}
// ul, li, a y acciones de la lista menú lateral
.sidebar_menu li {
    width: 100%;
    padding-left: 1em;
}
.sidebar_menu a {
    font-size: 1em;
    font-family: 'Quicksand';
    color: var(--green-light);
    display: block;
    text-decoration: none;
    padding: .5em 0 .5em .6em;
}
.sidebar_menu a.active {
    background: var(--green-light);
    color: var(--green);
    padding: .5em 0 .5em .6em;
    border-radius: 5px 0 0 5px;
    text-decoration: none;
}
.sidebar_menu a:hover {
    background: var(--green-light);
    color: var(--green);
    padding: .5em 0 .5em .6em;
    border-radius: 5px 0 0 5px;
    text-decoration: none;
}
.sidebar_menu li a span {
    padding-left: .5em;
}
// MENÚ LATERAL REPLEGADO "---ESCRITORIO---"

#nav_toggle:checked + .sidebar {  // Reduce el ancho del menú lateral.
    width: 70px;
}
#nav_toggle:checked + .sidebar .mini_logo {   // Hace visible el mini logo.
    display: flex;
    justify-content: center;
}
#nav_toggle:checked + .sidebar .logo {    // Oculta el logo grande.
    display: none;
}
//#nav_toggle:checked + .sidebar h2 span:last-child,
#nav_toggle:checked + .sidebar .section_img span, // Oculta el nombre del usuario menú lateral.
#nav_toggle:checked + .sidebar li a span:last-child {  // Oculta los textos del menú lateral.
    display: none;
}
#nav_toggle:checked + .sidebar li a {   // Propiedades de las opciones con solo el icono y sin el texto.
    border-radius: 30px;
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
}
#nav_toggle:checked + .sidebar .tool_tip:hover .tiptext { // Muestra el toltip o mensaje de la opción al pasar el cursor por el icono.
    visibility: visible;
}
// 
.tool_tip {
    position: relative;
    display: inline-block;
}
.tool_tip .tiptext {
    visibility: hidden;
    width: max-content;
    background-color: var(--green-strong);
    color: var(--white);
    font-family: 'Roboto';
    font-weight: 500;
    text-align: center;
    border-radius: 3px;
    padding: 6px 20px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(139, 138, 138, 0.2);
}
.tool_tip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tool_tip.right .tiptext{
    top: -5px;
    left: 110%;
}
.tool_tip.right .tiptext::after{
    margin-top: -5px;
    top: 50%;
    right: 100%;
    border-color: transparent #30b78d transparent transparent;
}






@media only screen and (max-width: 1200px) { // Dispositivo "Escritorio"
    .sidebar {  // Ancho del menú lateral tamaño dispositivo 1200px en adelante.
        width: 270px;
    }
}

@media only screen and (max-width: 1000px) {  // Dispositivo "Celular y Tablet"
    // MENÚ LATERAL REPLEGADO "---CELULAR Y TABLET---"

    .sidebar {  // Oculta el menú lateral para que no tape el parte del contenido.
        display: none;
    }

    // MENÚ LATERAL DESPLEGADO "---CELULAR Y TABLET---"

    #nav_toggle:checked + .sidebar {    // Menú laterall visible.
        background: var(--green-strong);
        display: block;
        position: fixed;
        top: 70px;
        left: 0;
        width: 300px;
        height: 100%;
        z-index: 100;
        transition: width 300ms;
        overflow-y: scroll;
        padding-bottom: 4em;
    }
    #nav_toggle:checked + .sidebar .mini_logo { //Oculta el mini logo cuando se despliega el menú lateral.
        display: none;
    }
    #nav_toggle:checked+ .sidebar .logo {   // Muestra el logo grande cuando se despliega el menú lateral.
        display: flex;
    }
    #nav_toggle:checked + .sidebar .section_img span,   // Hace visible el nombre del usuario.
    #nav_toggle:checked+.sidebar li a span:last-child {  // Hace visible los textos del menú lateral.
        display: block;
    }
    #nav_toggle:checked + .sidebar li a {   // Propiedades del li menú visible.
        border-radius: 30px;
        height: 40px;
        width: 100%;
        padding: 0.5em 0 0.5em 0.6em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #nav_toggle:checked + .sidebar .sidebar_menu a.active { // Propiedades de la opción activa menú lateral.
        background: var(--green-light);
        color: var(--green);
        padding: .5em 0 .5em .6em;
        border-radius: 5px 0 0 5px;
        text-decoration: none;
    }
    #nav_toggle:checked + .sidebar .sidebar_menu a:hover {  // Propiedades del hover opciones menú lateral.
        background: var(--green-light);
        color: var(--green);
        padding: .5em 0 .5em .6em;
        border-radius: 5px 0 0 5px;
        text-decoration: none;
    }
}

