.header_info {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: var(--secund-color);
    width: 100%;
    z-index: 101;
    top: 0;
    left: 0;
    padding: 0 1.7em;
}
.header_info span {
    font-size: .7em;
    font-family: 'Quicksand';
    color: var(--text-dark);
    font-weight: bolder;
    margin: 0;
}
header {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1em 1.7em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 17px;
    left: 300px;
    width: calc(100% - 300px);
    z-index: 100;
    transition: left 0.00001ms;
    height: 63px;
}
#nav_toggle:checked~.main_content header {
    width: calc(100% - 70px);
    left: 70px;
}
// Botón de despliegue
header h2 {
    font-size: 1.2em;
    font-family: 'Quicksand';
    color: var(--text-dark);
    font-weight: bolder;
    margin: 0;
}
header label i {
    font-size: 1.3em;
    padding-right: .3em;
}
// Fecha

// Usuario 
header .user-wrapper {
    display: flex;
    align-items: center;
}
.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}
header .user-wrapper h4 {
    font-size: .7em;
    font-family: 'Quicksand';
    color: var(--text-dark);
    font-weight: bolder;
    margin: 0;
}
header .nav_toggle span {
    cursor: pointer;
}
.main_content .head_dashboard .dropdown .btn:focus {
    box-shadow: none;
}
.main_content .head_dashboard .dropdown-menu {
    min-width: 15em;
    margin: .7em 0 0;
}

@media only screen and (max-width: 1200px) {
    header {
        left: 270px;
        width: calc(100% - 270px);
    }
}
@media only screen and (max-width: 1000px) {
    .header_info {
        padding: 0 .7em;
    }
    header {
        padding: 0.1em .7em;
        left: 0;
        width: 100%;
        height: 54px;
    }
    // Propiedades del header cuando el input esta activado "checked".
    #nav_toggle:checked~.main_content header {
        width: 100%;
        left: 0;
    }
    .main_content .head_dashboard .dropdown-menu {
        min-width: 15em;
        margin: .425em 0 0;
    }
}