:root {
    --primary-color: #00AEC7;
    --secund-color: #CDF5FF;
    --color-dark: #1D2231;
    --text-light: #ffffff;
    --text-dark: #232323;
    --border-color: #DBDADA;
    --color-light: #ffffff;
}