:root {
    --first-color: #00AEC7;  /* Color principal para: background, bordes, viñetas, iconos, títulos, texto y botones principales(active, hover y focus) */
    --secund-color: #CDF5FF; /* Color secundario para: background(header estatico, miga de pan, opciones menu lateral(hover)), texto menu lateral,*/
                               /* selects e inputs (box-shadow, focus), botones de paginación(hover) */
    --third-color: #f7fbfd;  /* Color terciario para: bacground principal del contenido, páginas de autenticación contenedores, secciones o tarjetas*/

    --red: #f94141;       /*  Rojo principal para el botón eliminar  */
    --red-two: #d32a2a;   /*  Rojo 2 para el focus del botón eliminar  */
    --red-three: #f96767; /*  Rojo 3 para el hover del botón elinminar  */
    --red-four: #ff9999;  /*  Rojo 4  */

    --black: #000000; /* Negro para: texto(labels, inputs internos, headers), menu hamburguesa */
    --white: #ffffff; /* Blanco para: texto(menú lateral, toollips, pop up), bacground(header secundario, pop up, inputs, tablas) */
                        /* Botón secundario(texto), Botón terciario(background, texto(hover))*/

    --gray: #bababa;     /* Gris para: input y select(texto interno y borde), botón secundario(bacground)*/
    --gray-two: #a0a0a0; /* Gris 2 para: bordes(input disable, select, textarea, inputs radios, imagen usuario, botón primario y secundario),*/
                            /* background(título modulos y tablas), texto(agenda)*/
}