@charset "UTF-8";
:root {
  --primary-color: #00AEC7;
  --secund-color: #CDF5FF;
  --tertiary-color: #f94141;
  --fourth-color: #1ebb1e;
  --color-dark: #1D2231;
  --color-light: #ffffff;
  --text-dark: #232323;
  --text-gray: #495057;
  --text-light: #ffffff;
  --border-color: rgba(0, 174, 199, 45%);
  --border-color-input: #DBDADA;
  --boxshadow-color-input: 0 0 0 0.2rem rgb(0 174 199 / 25%);
}

.header_info {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: var(--secund-color);
  width: 100%;
  z-index: 101;
  top: 0;
  left: 0;
  padding: 0 1.7em;
}

.header_info span {
  font-size: 0.7em;
  font-family: "Quicksand";
  color: var(--text-dark);
  font-weight: bolder;
  margin: 0;
}

header {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1em 1.7em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 17px;
  left: 300px;
  width: calc(100% - 300px);
  z-index: 100;
  transition: left 0.00001ms;
  height: 63px;
}

#nav_toggle:checked ~ .main_content header {
  width: calc(100% - 70px);
  left: 70px;
}

header h2 {
  font-size: 1.2em;
  font-family: "Quicksand";
  color: var(--text-dark);
  font-weight: bolder;
  margin: 0;
}

header label i {
  font-size: 1.3em;
  padding-right: 0.3em;
}

header .user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

header .user-wrapper h4 {
  font-size: 0.7em;
  font-family: "Quicksand";
  color: var(--text-dark);
  font-weight: bolder;
  margin: 0;
}

header .nav_toggle span {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  header {
    left: 270px;
    width: calc(100% - 270px);
  }
}
@media only screen and (max-width: 1000px) {
  .header_info {
    padding: 0 0.7em;
  }

  header {
    padding: 0.1em 0.7em;
    left: 0;
    width: 100%;
    height: 54px;
  }

  #nav_toggle:checked ~ .main_content header {
    width: 100%;
    left: 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

#nav_toggle {
  display: none;
}

.sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 15px;
  height: 100%;
  background: var(--primary-color);
  z-index: 100;
  transition: width 300ms;
}

.sidebar_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-light);
  padding: 5px 0;
}

.sidebar_logo img {
  width: auto;
  height: 55px;
}

.sidebar_menu {
  margin-top: 0;
}

.sidebar_user {
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 1em;
}

.sidebar_user img {
  width: 50px;
  height: 48px;
  border-radius: 50px;
  object-fit: cover;
}

.sidebar_user span {
  font-size: 1em;
  font-family: "Roboto";
  color: var(--text-light);
  padding-left: 0.8em;
  line-height: 1.2;
  display: flex;
}

.sidebar_menu li {
  width: 100%;
}

.sidebar_menu li a span {
  padding-left: 0.5em;
}

.sidebar_menu a {
  font-size: 1em;
  font-family: "Roboto";
  color: var(--text-light);
  padding: 0.5em 0 0.5em 0.6em;
  display: block;
  text-decoration: none;
}

.sidebar_menu a.active {
  background: var(--secund-color);
  padding: 0.5em 0 0.5em 0.6em;
  color: var(--primary-color);
  border-radius: 5px 0 0 5px;
  text-decoration: none;
}

/*Función paraa cambiar dimenciones de los elementos a la hora de replegar el sidebar*/
#nav_toggle:checked + .sidebar {
  width: 70px;
}

#nav_toggle:checked + .sidebar .sidebar_logo {
  padding: 5px 0;
  justify-content: center;
}

#nav_toggle:checked + .sidebar .sidebar_logo h2 span:last-child,
#nav_toggle:checked + .sidebar li a span:last-child,
#nav_toggle:checked + .sidebar .sidebar_user span {
  display: none;
}

#nav_toggle:checked + .sidebar li a {
  border-radius: 30px;
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav_toggle:checked + .sidebar .sidebar_logo,
#nav_toggle:checked + .sidebar li {
  text-align: center;
}

/* Función de hover a los ITEMS del sidebar lateral*/
.sidebar_menu ul a:hover {
  background: var(--secund-color);
  padding: 0.5em 0 0.5em 0.6em;
  color: var(--primary-color);
  border-radius: 5px 0 0 5px;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 270px;
  }
}
@media only screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }

  .sidebar_logo {
    padding: 10px 0;
  }

  #nav_toggle:checked + .sidebar .sidebar_user span {
    font-size: 1em;
    font-family: "Roboto";
    color: var(--text-light);
    padding-left: 0.8em;
    line-height: 1.2;
    display: flex;
  }

  #nav_toggle:checked + .sidebar {
    display: block;
    top: 70px;
    width: 300px;
    position: fixed;
    left: 0;
    height: 100%;
    background: var(--primary-color);
    z-index: 100;
    transition: width 300ms;
  }

  #nav_toggle:checked + .sidebar .sidebar_logo h2 span:last-child,
#nav_toggle:checked + .sidebar li a span:last-child,
#nav_toggle:checked + .sidebar .sidebar_user span {
    display: block;
  }

  #nav_toggle:checked + .sidebar li a {
    border-radius: 30px;
    height: 40px;
    width: 100%;
    padding: 0.5em 0 0.5em 0.6em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #nav_toggle:checked + .sidebar .sidebar_menu a.active {
    background: var(--secund-color);
    padding: 0.5em 0 0.5em 0.6em;
    color: var(--primary-color);
    border-radius: 5px 0 0 5px;
    text-decoration: none;
  }
}
.main_content {
  transition: margin-left 300ms;
  margin-left: 300px;
  background: #f1f5f9;
}

/*Función paraa cambiar dimenciones de los elementos a la hora de replegar el sidebar*/
#nav_toggle:checked ~ .main_content {
  margin-left: 70px;
}

main {
  margin-top: 70px;
  padding: 2rem 1.5rem;
  background: transparent;
  min-height: calc(100vh - 70px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-bottom: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
}

.card-single div:last-child span {
  font-size: 3rem;
  color: var(--primary-color);
}

.card-single div:first-child span {
  color: var(--text-grey);
}

.card-single:last-child {
  background: var(--primary-color);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
  color: #fff;
}

.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 65% auto;
}

.card {
  background: #fff;
}

.card-header {
  padding: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.card-header button {
  background: var(--primary-color);
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-color);
}

table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

thead td {
  font-weight: 700;
}

td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}

td .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}

.status.green {
  background: #06c006;
}

.status.yellow {
  background: yellow;
}

.status.red {
  background: red;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
}

.info {
  display: flex;
  align-items: center;
}

.info img {
  border-radius: 50%;
  margin-right: 1rem;
}

.info h4 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #222;
}

.info small {
  font-weight: 600;
  color: var(--text-grey);
}

.contact span {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
  color: var(--primary-color);
}

@media only screen and (max-width: 1200px) {
  .main_content {
    margin-left: 270px;
  }
}
@media only screen and (max-width: 1000px) {
  .main_content {
    margin-left: 0;
  }

  #nav_toggle:checked ~ .main_content {
    margin-left: 0;
  }
}
.agenda_path ol {
  background: var(--secund-color) !important;
}

.agenda_path ol li a {
  color: var(--primary-color) !important;
}

.head_calendar h1 {
  font-size: 1.5em;
  font-family: "Quicksand";
  color: var(--primary-color);
}

.head_calendar span {
  font-size: 1em;
  font-family: "Roboto";
  color: var(--text-dark);
}

.fc-toolbar-title {
  height: 30px;
  font-size: 1em !important;
  font-family: "Quicksand" !important;
  color: var(--primary-color) !important;
  text-transform: capitalize;
}

.fc-prev-button {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.fc-next-button {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.fc-today-button {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.fc-dayGridMonth-button {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.fc-timeGridDay-button {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.fc .fc-toolbar {
  align-items: flex-end;
}

.fc-today-button {
  width: 100px;
}

.fc-toolbar-chunk {
  display: flex;
  flex-direction: column;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-top: 0.5em;
  margin-left: 0;
}

@media (min-width: 768px) {
  .fc-toolbar-chunk {
    flex-direction: row;
    align-items: center;
  }

  .fc-toolbar-title {
    height: 20px;
    font-size: 1.3em !important;
  }

  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-top: 0;
    margin-left: 1em;
  }

  .calendario {
    width: 705px;
  }
}
@media (min-width: 1360px) {
  .calendario {
    width: 900px;
  }
}
.head_modal {
  background: var(--primary-color);
  color: var(--color-light);
  border-bottom: 2px solid var(--color-light);
}

.head_modal h1 {
  font-size: 2em;
  font-family: "Quicksand";
  font-weight: bolder;
}

.head_modal span {
  font-size: 1em;
  font-family: "Roboto";
  color: var(--color-light);
}

.body_modal {
  background: #f1f1f1;
}

.body_modal label {
  font-family: "Roboto";
  color: var(--text-dark);
  display: flex;
}

.body_modal .ui-widget {
  margin: 5% 0;
  display: flex;
  align-items: center;
}

.body_modal .ui-widget input {
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.body_modal .ui-widget i {
  width: 21px;
  height: 24%;
  font-size: 1.5em;
  text-align: center;
  color: var(--primary-color);
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 0.3em;
}

.content_items_cita {
  height: 135px;
  overflow: auto;
  background: var(--color-light);
  border-radius: 5px;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.content_items_cita::-webkit-scrollbar {
  -webkit-appearance: none;
}

.content_items_cita::-webkit-scrollbar:vertical {
  width: 10px;
}

.content_items_cita::-webkit-scrollbar-button:increment, .content_items_cita::-webkit-scrollbar-button {
  display: none;
}

.content_items_cita::-webkit-scrollbar:horizontal {
  height: 10px;
}

.content_items_cita::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.content_items_cita::-webkit-scrollbar-track {
  border-radius: 10px;
}

.inputText_cita {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid var(--primary-color);
  padding: 0.6em 0 0.6em 1em;
}

.items_cita {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
  margin: 0;
}

.content_textArea_citas textarea {
  width: 100%;
  height: 175px;
  resize: none;
  border: 2px solid var(--color-light);
  border-radius: 5px;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 3%;
}

.content_textArea_citas textarea:focus {
  border: 1px solid #f1f1f1 !important;
  outline: none;
  padding: 1em;
}

.content_consultorio_citas input {
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.footer_modal {
  background: #f1f1f1;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em 1em 1em;
}

.footer_modal button {
  background: var(--primary-color);
  color: var(--color-light);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  padding: 0.3em 1em;
}

.items_verCita h5 {
  font-size: 1.2em;
  font-family: "Quicksand";
  font-weight: bolder;
}

.items_verCita ul li {
  font-size: 1em;
  font-family: "Roboto";
  list-style-type: disc;
}

.items_verCita ul {
  padding-left: 7%;
}

.items_verCita li::marker {
  color: var(--primary-color);
}

.items_deleted_quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items_deleted_quote h3 {
  font-size: 1.5em;
  font-family: "Quicksand";
  margin: 0;
}

.items_deleted_quote i {
  font-size: 1.3em;
  width: 50px;
  text-align: center;
}

.main_target_form {
  border: 2px solid var(--border-color);
  padding: 1.3em 0.5em;
  border-radius: 5px;
  margin-top: 1em;
}

.form_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title_section_form {
  font-size: 1em;
  font-family: "Quicksand";
  color: var(--color-light);
  background: var(--primary-color);
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 0.3em;
}

.imgUser_container_form {
  height: 180px;
  padding: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img_user_form {
  width: 150px;
  height: 150px;
  border: 1px solid var(--border-color);
  border-radius: 106px;
  background-image: url("../imagenes/user-avatar.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.input_imgUser_form {
  width: 150px;
  height: 180px;
  opacity: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.label_imgUser_form {
  margin: 0;
  font-family: "Roboto";
  text-align: center;
  width: 178px;
  align-self: flex-end;
}

.data_row_form {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0.5em;
}

.data_group_form {
  padding: 0;
  margin-bottom: 0.5em;
}

.input_dataGroup_form {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-gray);
  background-color: var(--color-light);
  background-clip: padding-box;
  border: 1px solid var(--border-color-input);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input_dataGroup_form:focus {
  color: var(--text-gray);
  background-color: var(--color-light);
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: var(--boxshadow-color-input);
}

.textArea_form {
  width: 100%;
  height: 175px;
  resize: none;
  border: 1px solid var(--border-color-input);
  border-radius: 5px;
  margin-bottom: 0;
}

.textArea_form:focus {
  border: 1.5px solid var(--primary-color) !important;
  box-shadow: var(--boxshadow-color-input);
  outline: none;
  padding: 1em;
}

.textArea_form::-webkit-scrollbar {
  -webkit-appearance: none;
}

.textArea_form::-webkit-scrollbar:vertical {
  width: 10px;
}

.textArea_form::-webkit-scrollbar-button:increment, .textArea_form::-webkit-scrollbar-button {
  display: none;
}

.textArea_form::-webkit-scrollbar:horizontal {
  height: 10px;
}

.textArea_form::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.textArea_form::-webkit-scrollbar-track {
  border-radius: 10px;
}

.li_input_form {
  display: flex;
  align-items: center;
  padding: 0;
}

.inputRadio_form {
  margin-right: 0.3em;
}

.button_container_form {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.button_help_form {
  font-size: 1.5em;
  font-family: "Roboto";
  color: #ffffff;
  background: #00aec7;
  width: 40px;
  border: #cdf5ff;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1em;
}

.button_cancel_form {
  width: 100px;
  border: 1px solid var(--tertiary-color);
  border-radius: 3px;
  background: transparent;
  color: var(--tertiary-color);
  font-family: "Roboto";
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.375em 0.2em;
  margin-right: 1em;
}

.button_save_form {
  width: 100px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  background: var(--primary-color);
  color: var(--text-light);
  font-family: "Roboto";
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.375em 0.2em;
}

.button_save_form:hover {
  color: var(--secund-color);
}

@media (min-width: 768px) {
  .imgUser_container_form {
    height: 150px;
  }

  .img_user_form {
    width: 123px;
    height: 123px;
  }

  .input_imgUser_form {
    width: 123px;
    height: 150px;
  }

  .label_imgUser_form {
    width: 123px;
  }

  .data_group_form {
    padding: 0 0.5em;
  }

  .textArea_form {
    height: 75px;
  }
}
@media (min-width: 1920px) {
  .img_user_form {
    margin: 0 2em;
  }
}
.agenda_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title_list {
  font-size: 1.5em;
  color: var(--primary-color);
  font-family: "Quicksand";
}

table.table_agenda {
  border-spacing: 1px !important;
}

.table_agenda thead {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.status_active {
  color: var(--fourth-color);
  font-family: "Roboto";
  font-weight: 500;
}

.status_unactive {
  color: var(--tertiary-color);
  font-family: "Roboto";
  font-weight: 500;
}

.action_table {
  color: var(--primary-color);
  text-decoration: none;
}

.action_table:hover {
  text-decoration: none;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--secund-color);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  background: linear-gradient(to bottom, #5ac7d7 0%, var(--secund-color) 100%) !important;
  border: none !important;
  padding: 0.5em;
}

.main_row {
  justify-content: center;
}

.sidebar_logo img {
  height: 55px;
  width: auto;
}

.content_form {
  margin-top: 7%;
  padding: 3.5px;
  border: 1px solid rgba(0, 174, 199, 0.45);
}

.card_login {
  padding: 2em 1em;
  background-color: #a2daff;
  background: linear-gradient(20deg, #a2daff 10%, #c4eff8 50%, #cdf5ff 80%);
}

.card_login label {
  font-family: "Roboto";
  font-weight: 300;
  color: #232323;
}

.buttom_save {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.buttom_save button {
  width: 125px;
  border: 1px solid #00aec7;
  background: #00aec7;
  color: #fff;
  font-family: "Roboto";
  font-weight: 500;
}

.buttom_save button:hover {
  color: #CDF5FF;
}

@media (min-width: 768px) {
  .sidebar_logo img {
    height: 75px;
    width: auto;
  }

  .content_form {
    margin-top: 5%;
  }

  .card_login {
    padding: 6em 1em;
  }
}
@media (min-width: 1024px) {
  .content_form {
    margin-top: 3%;
  }

  .data_row {
    padding: 0;
  }

  .buttom_save_form {
    padding: 0 1em;
  }
}

/*# sourceMappingURL=app.css.map */
