// html {
//     overflow: hidden;
// }
.bg__blue {
    background-color: #093456;
}
.bg__blue_light {
    background-color: #1DBFD6;
}
.bg__terracota {
    background-color: #DE714B;
}
.font_openSans {
    font-family: 'Open Sans', sans-serif;
}
.fw_bold {
    font-weight: bold !important;
}
.txt_blue_bold {
    color: #093456;
    font-weight: bold !important;
}
.txt_blue_300 {
    color: #093456;
    font-weight: 300;
}
.txt_blue_500 {
    color: #093456;
    font-weight: 500;
}
.txt_dark_400 {
    color: #333333;
    font-weight: 400;
}
.txt_dark_bold {
    color: #333333;
    font-weight: bold;
}
.txt_blue_light {
    color: #1DBFD6;
    font-weight: bold;
}
.txt_blue_light_500 {
    color: #1DBFD6;
    font-weight: 500;
}
.txt_white_bold {
    color: #FFFFFF;
    font-weight: bold !important;
}
.txt_white_400 {
    color: #FFFFFF;
    font-weight: 400;
}
// Padding
// Historia Clínica
.hc_pad_tab_pane {
    padding: 32px 30px;
}
.hc_pad_th_table {
    padding-left: 60px !important;
}

.hc_pad_td_table {
    padding-left: 50px;
}
.hc_pad_y_td_table {
    padding-top: 25px !important;
    padding-bottom: 32px !important;
}
.hc_padTop_btn {
    padding-top: 30px;
}
.hc_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.hc_card_items {
    width: 24%;
    background: white;
    padding: 30px 40px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}
.hc_card_text_icon {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hc_card_icon {
    color: #1DBFD6;
    height: 40px;
    width: 40px;
}
.hc_modal {
    max-width: 80% !important;
}
.hc_modal .modal-content .modal-body {
    padding: 0 70px 50px 70px;
}
.hc_modal .modal-content .btn-close {
    background-size: 16px;
}
.hc_modal .modal-content .modal-header {
    flex-direction: inherit;
    padding: 40px 70px;
}
.hc_card .hc_card_items .form-switch {
    float: right;
    margin-top: -17px;
    margin-right: -25px;
}
.hc_card .switch_doble_linea .form-switch {
    float: right;
    margin-top: -30px;
    margin-right: -25px;
}
.accordion-button:not(.collapsed) {
    color: #333333;
    background-color: #E6E6E6;
    box-shadow: inset 0 0 0 rgb(0 0 0 / 0);
}
.hc_incap_btn_accordion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.hc_collapse_registers .accordion-body .hc_accordion_collapse .accordion-button::after {
    margin-left: 0;
    margin-right: 10px;
}
.hc_collapse_registers .accordion-body .hc_accordion_collapse .accordion-button {
    background-color: transparent;
}
.hc_collapse_registers .accordion-body .hc_accordion_collapse .accordion-button:not(.collapsed) {
    color: #333333;
    background-color: transparent;
    box-shadow: inset 0 0 0 rgb(0 0 0 / 0);
}
// Mensaje de guardar y guardado formularios de los modales vista Historia Clínica
.hc_save_notice {
    padding: 0;
    justify-content: flex-start;
    .save_notice {
        display: flex;
        margin: 0;
        padding: 5px 70px;
        background: #E6E6E6;
        border-radius: 4px;
        .check_circle {
            width: 17px;
            color: #DE714B;
        }
        .spinner {
            border: 3.5px dashed #DE714B;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border-left-color: #1DBFD6;
            border-top-color: #1DBFD6;
          
            animation: spin 1s ease infinite;
            }
            @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
        
            50% {
                border-left-color: #1DBFD6;
                border-top-color: #1DBFD6;
                border: 3px double #DE714B;
            }

            100% {
                transform: rotate(360deg);
            }
        }
        label {
            font-size: 16px;
            color: #093456;
            font-weight: bold;
            padding-left: 5px;
        }
    }
}


// .hc_data_table table thead tr th,
// .hc_data_table table tbody tr td {
//     text-align: center;
//     border: 2px solid #E6E6E6;
//     padding: 5px 7px;
//     line-height: 1.3;
// }
// Formulario pacientes
.form_pat_pad_card {
    padding: 40px 70px;
}
.form_content_info_basic {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 16px;
}
.form_user_img {
    border: 1px solid #707070;
    opacity: 1;
    padding: 10px;
}
//input
.form_style_input {
    margin-top: 14px;
    padding: 8px 7px;
    background-color: white;
    border: 1px solid #707070;
}
.form_checkBox {
    width: 25px;
    height: 25px;
}
.form-check-input:checked {
    background-color: #1DBFD6;
    border-color: #1DBFD6;
}
.form_textarea {
    overflow: hidden;
    resize: none;
}
.noBorder_radius_right {
    border-radius: 4px 0 0 4px;
    border-right: none;
}
.noBorder_radius_left {
    border-radius: 0 4px 4px 0; 
}
.noBorder_radius_left_two {
    border-radius: 0 4px 4px 0; 
    border-left: none;
}
.border_rad_bottom {
    border-radius: 0 0 4px 4px;
}
// Imagen, logo, icono
/// Upload User profile image
.img_user_form {
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 0;
}
.img_user_form img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    // background: $gray_first;
    border: 1px solid #707070;
    object-fit: cover;
    object-position: top;
    align-self: center;
}
.img_user_form input {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 200px;
    opacity: 0;
    overflow: auto;
    margin: 0 auto;
    cursor: pointer;
}
// LOGIN
.login_right_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: white;
}
.login_input {
    color: #333333 !important;
    border-radius: 0;
    border: white;
    border-bottom: 1px solid #333333;
    background-color: white;
}
.login_input:focus {
    color: #54667a;
    background-color: #09345629;
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: unset, 0 0 0 0 rgba(0, 0, 0, 0);
    font-size: 18px;
}
.login_checkBox {
    width: 25px;
    height: 20px;
    margin-right: 5px;
}
// PERFIL
.perfil_img_top_user {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 190px;
    height: 190px;
    margin: auto;
    padding: 0;
    img {
        width: 100%;
        height: 100%;
        // border-radius: 100px;
        // border: 1px solid #707070;
        object-fit: cover;
        object-position: top;
        align-self: center;
    }
    input {
        position: absolute;
        top: 27px;
        width: 190px;
        height: 190px;
        opacity: 0;
        overflow: auto;
        margin: 0 auto;
        cursor: pointer;
    }
}
.perfil_pill_espec {
    background: #E6E6E6;
    border-radius: 25px;
    margin-right: 10px;
}
.perfil_pad_card_consultorio {
    padding: 38px 55px;
}
.perfil_pad_card_citas {
    padding: 38px 27px;
}
.perfil_pad_card_sed_contac {
    padding: 21px 46px;
}
.home_top_btn {
    position: absolute;
    right: 40px;
}
.perfil_circle {
    background: #1DBFD6;
    width: 50px;
    color: #1DBFD6;
    border-radius: 20px;
}

// PQRS
.pqr_dropzone {
    border: 2px dashed #707070 !important;
    border-radius: 5px;
}
.pqr_dropzone .dz-message {
    background: #E6E6E6;
    border-radius: 5px;
}
.home_icon {
    width: 33px;
    height: 27px;
}
.home_img_weather {
    background: url('/img/medhistoria/background/Bogota-fondo-clima.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 275px;
    background-size: cover;
    padding: 15px 25px 10px 10px;
    border-radius: 4px 4px 0 0;
}
.antecedent_container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
    a {
        background-color: #E6E6E6;
        padding: 15px 10px;
        margin-bottom: 10px;
        text-align: center;
        width: 215px;
        color: #333333;
        font-weight: bold;
        line-height: 1.3;
        cursor:  pointer;
        &:hover {
            background-color: #1DBFD6;
            color: #FFFFFF;
        }
        &:focus {
            background-color: #1DBFD6;
            color: #FFFFFF;
        }
    }
}
.form-range {
    height: 4rem;
}
.btn_delete_round {
    border: none;
    border-radius: 30px;
    padding: 10px;
    background-color: #DE714B;
    color: #FFFFFF;
    &:hover {
        background-color: #FFFFFF;
        color: #DE714B  ;
    }
   
}
.prescription_nav .nav-item {
    padding-right: 12px;
    .nav-link {
        width: 170px;
        background: #E6E6E6;
        color: #333333;
        border-radius: 0;
        padding: 20px;
        font-weight: bold;
        justify-content: center;
        text-align: center;
    }
    .active {
        background: #1DBFD6;
        color: #FFFFFF;
        border-radius: 0;
        padding: 20px;
        font-weight: bold;
    }
} 

.antecedente_nav .nav-item {
    .nav-link {
        width: 190px;
        background: #E6E6E6;
        color: #333333;
        border-radius: 0;
        padding: 15px 20px;
        font-weight: bold;
        line-height: 1.1;
        justify-content: center;
        text-align: center;
    }
    .active {
        background: #1DBFD6;
        color: #FFFFFF;
        border-radius: 0;
        padding: 15px 20px;
        font-weight: bold;
        line-height: 1.1;
    }
} 






.nav-item .content_user, .content_mss {
    padding-right: 25px !important;
    img {
        width: 40px;
    }
}



table.dataTable.no-footer {
    border-bottom: none !important;
}
table.dataTable.display tbody tr.child {
    background: white;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: transparent !important;
}
table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td, 
table.dataTable.display tbody th, 
table.dataTable.display tbody td {
    border-top: none !important;
}
table.dataTable.display tbody tr>.sorting_1, table.dataTable.display tbody tr>.sorting_1:hover  {
    background-color: transparent !important;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #E6E6E6 !important;
}
table.dataTable thead .sorting {
    background-position-x: -1px !important;
}
// Números de la paginación
.page-item.active .page-link {
    background-color: #1DBFD6;
    border-color: #1DBFD6;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #1DBFD6 !important;
    background-color: #538f9bd6;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #3e7bab 0%, #538f9bd6 100%) !important;
    background: -moz-linear-gradient(top, #3e7bab 0%, #538f9bd6 100%) !important;
    background: -ms-linear-gradient(top, #3e7bab 0%, #538f9bd6 100%) !important;
    background: -o-linear-gradient(top, #3e7bab 0%, #538f9bd6 100%) !important;
    background: linear-gradient(to bottom, #3e7bab 0%, #538f9bd6 100%) !important;
}
// Icons Patient table
.pad_icon_table {
  text-align: center;
}
.icon_info {
    color: #1DBFD6;
    margin-right: 17px;
}
.icon_info:hover {
    color: #DE714B;
}
.icon_info_white {
    color: #FFFFFF;
    margin-right: 17px;
}
.icon_info_white:hover {
    color: #093456;
}
.tooltip-inner {
    max-width: 200px;
    padding: 0.05rem 0.25rem;
    color: #333333;
    text-align: center;
    background-color: #E6E6E6;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
}

// Barra de busqueda pacientes
.pad_search {
    padding: 8px 7px;
    font-size: 20px;
    color: black;
    background: transparent;
    font-weight: bolder;
}
.content_search {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 37px;
    padding-right: 41px;
}
.pad_content_table {
    padding: 1.25rem 75px 1.25rem 70px;
}



.content_data_user {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 8px;
}
.content_txt_cell_user {
    padding-left: 28px;
}

// Vista de la historia médica del paciente
.content_img_top_user {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pad_btn_new_consult {
    padding-right: 80px;
}
.btn_acordion {
    background: white !important;
    border: none !important;
    box-shadow: none !important;
}

.content_acordion {
    background: white !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    border-top: 1px solid #E6E6E6 !important;
}
.header_accordion .accordion-button::after {
    margin-left: 10px;
    background-image: url('/img/medhistoria/logos/Arrow-Down.svg');
    background-position: center;
}
.header_accordion .accordion-button:not(.collapsed)::after {
    background-image: url('/img/medhistoria/logos/Arrow-Down.svg');
    background-position: center;    
    transform: rotate(-180deg);
}
.hc_accordion_collapse .accordion-button::after {
    margin-left: 10px;
    background-image: url('/img/medhistoria/logos/Arrow-Desplegable-01.svg');
    background-position: center;
}
.hc_accordion_collapse .accordion-button:not(.collapsed)::after {
    background-image: url('/img/medhistoria/logos/Arrow-Desplegable-01.svg');
    background-position: center;    
    transform: rotate(-180deg);
}
.hc_data_table .data_table {
    thead tr th {
        font-size: 16px;
        color: #093456;
        font-weight: 700;
        padding: 10px;
        text-align: center;
        vertical-align: bottom;
        line-height: 1.2;
        border-bottom: none !important;
    }
    tbody tr {
        background-color: transparent;
        td {
            font-size: 16px;
            color: #333333;
            font-weight: 700;
            text-align: center;
        }
    }
}